@import 'styles/_variables.scss';

.restaurant-details {
  overflow: hidden;
  padding-bottom: $map-side-bar-item-padding-vertical;
  transition: max-height .5s ease-in-out;
  max-height: 0;

  &--show {
    max-height: 700px;
  }

  &__row {
    padding: $map-side-bar-item-padding-vertical $map-side-bar-item-padding-horizontal;

    display: flex;
    align-items: center;

    &:hover {
      background-color: darken(white, 15);
    }

    &--clickable {
      cursor: pointer;
      color: inherit;
      text-decoration: none;
    }
  }

  &__image-row {
    display: flex;
    justify-content: center;
  }

  &__image {
    max-width: 100%;
    max-height: 200px;
  }

  &__icon {
    margin-right: 10px;
    color: #1672c7;
  }

  &__text {
    font-size: 13px;

    &--show-one-line {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    flex: 1;
  }

  &__opening-now-text {
    color: green;

    &--closed {
      color: red;
    }
  }

  &__opening-hours {
    margin: 5px 0;

    &--today {
      font-weight: bold;
    }
  }

  .rating-pricing {
    border-top: solid 1px #cfcfcf;
    border-bottom: solid 1px #cfcfcf;
  }
}
